body ul {
	list-style-type: none;
}
body ul li{
	margin: 20px;
	padding: 30px 20px;
	display: inline-block;
	background-color: #EC5B00;
	color: white;
	border-radius: 5px;
}
body ul span.title {
	width: 200px;
	display: inline-block;
}
body ul span.status:before {
	content: "";
	display: inline-block;
	margin: 0 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #EC5B00 0 -1px 6px 1px;
}
body ul span.status.status-idle:before {
	background-color: #FF0;
    box-shadow: #EC5B00 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}
body ul span.status.status-running:before {
	background-color: #06F;
    box-shadow: #EC5B00 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}
body ul span.status.status-finished:before {
	background-color: #80FF00;
    box-shadow: #EC5B00 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}
body ul span.status.status-errored:before {
	background-color: #F00;
    box-shadow: #EC5B00 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}