<!doctype html>
<html ng-app="zeissApp">
	<head>
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

		<title>ZeissApp</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/app.css" type="text/css" media="all" />
	</head>
	<body ng-controller="machineListController">
		<ul>
			<li ng-repeat="machine in machines" ng-click="openModal(machine.id)">
				<span class="title" title="{{machine.id}}">Floor {{machine.floor}}, {{machine.machine_type}}</span>
				<span class="status status-{{machine.status}}">{{machine.status}}</span>
			</li>
		</ul>

		<script src="bower-components/angular/angular.min.js"></script>
		<script src="bower-components/angular-animate/angular-animate.min.js"></script>
		<script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
		<!-- <script src="/node_modules/phoenix-socket/dist/socket.js"></script> -->
		<script src="js/socket.js"></script>
		<script src="/node_modules/angular-phoenix/dist/angular-phoenix.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>

	</body>
</html>