<div>
	<div class="modal-header">
		<h4>Floor {{machine.floor}}, {{machine.machine_type}}</h4>
	</div>
	<div class="modal-body">
		<table class="table table-striped">
			<tr>
				<th>Attr</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>Floor #</td>
				<td>{{machine.floor}}</td>
			</tr>
			<tr>
				<td>Machine type</td>
				<td>{{machine.machine_type}}</td>
			</tr>
			<tr>
				<td>Install Date</td>
				<td>{{machine.install_date}}</td>
			</tr>
			<tr>
				<td>Longitude</td>
				<td>{{machine.longitude}}</td>
			</tr>
			<tr>
				<td>Latitude</td>
				<td>{{machine.latitude}}</td>
			</tr>
			<tr>
				<td>Status</td>
				<td>{{machine.status}}</td>
			</tr>
		</table>

		<table class="table table-striped">
			<tr>
				<th>Event</th>
				<th>Timestamp</th>
			</tr>
			<tr ng-repeat="event in machineEvents">
				<td>{{event.status}}</td>
				<td>{{event.timestamp}}</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="ok()">Okay</button>
	</div>
</div>